@media only screen and (max-device-width: 600px) {

    /* Secure Checkout */

    .secure {
        background: #fff;
        padding: 125px 0px 0px;
    }

    .upper_text {
        margin-bottom: 16px;
    }

    .white_box {
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 0px;
    }

    .left_box {
        display: flex;
        padding: 0px 24px 0px !important;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }

    .input_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    .upper_text h1 {
        color: var(--Navy, #1C1F26);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 133.807%;
        /* 42.818px */
        text-transform: capitalize;
    }

    .spilt_imput {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-direction: column;
    }

    .cart_inner_top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 327px;
    }

    .rgt_box {
        padding: 24px;
        border-radius: 0px;
    }

    .coupoun_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        margin-top: 16px;
        margin-bottom: 16px;
        flex-direction: column;
    }

    .btn_black {
        width: 100%;
    }

    /* Paymet Succesful and Unsuccesfull */



    .lower_box {
        padding: 24px;
        border-radius: 0px;
        background: var(--Grayscale-White, #FFF);
    }

    .sucess_secure {
        background-image: url(../images/privacy_bg.png);
        background-color: #E7E7E7;
        padding: 141px 0px 0px 0px;
        background-position: center;
        background-size: cover;
    }

    .succes_full {
        color: var(--Functional-Success-Green, #0BA40B);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 133.807%;
        text-transform: capitalize;
    }

    .upper_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 327px;
        margin: auto;
    }

    .unsucces_full {
        color: var(--Functional-Error-Red, #C81414);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 133.807%;
        /* 42.818px */
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    /* COntact us */

    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: fit-content;
        padding-bottom: 0px;
    }

    .mid_box {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        justify-content: center;
        align-items: center;
        gap: 0px;
        align-self: stretch;
    }

    .bg_video {
        height: 427px !important;
        margin-top: 101px;
    }

    .as_in {
        display: flex;
        padding: 40px 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        height: 100%;
        margin-top: 40px;
    }

    .as_upp h4 {
        color: var(--Grayscale-White, #FFF);
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .as_upp p {
        color: var(--Grayscale-500, #D0D0D0);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%;
        margin-bottom: 0px;
    }

    .coupoun_boxx {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-direction: column;
    }

    .conatc_side {
        padding: 40px 24px;
    }

    /* ABOUT US */
    .bg_abo {
        height: 756px !important;
        margin-top: 101px;
    }


    .abou1 {
        display: flex;
        height: 100%;
        ;
        padding-left: 0px;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: flex-start; */
        flex-shrink: 0;
    }

    .upper_sec_1 h1 {
        color: var(--Grayscale-White, #FFF);
        text-align: center;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 133.807%;
        /* 42.818px */
        text-transform: capitalize;
    }

    .upper_sec_1 p {
        color: var(--Grayscale-White, #FFF);
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .upper_sec_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    .about_sec_1 {
        display: flex;
        width: 100%;
        max-width: 657px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        margin-top: 208px;
        padding: 0px 24px 16px;
    }


    .upper_sec_2 p {
        color: var(--Grayscale-200, #F8F8F8);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%;
        margin-bottom: 0px;
        text-align: center;
    }

    .main_box {
        padding-top: 0px;
    }

    .abou2 {
    background-color: var(--Grayscale-200, #F8F8F8);
        padding: 0px;
    }

    .abou_mid_box {
        padding: 40px 24px;
    }

    .bold_d {
        color: var(--Navy, #1C1F26);
        text-align: center;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .contentt_box {
        background-image: none;
        height: 100%;
        margin-top:0px;
    }

    .contentt_box2 {
        background-image: none;
        height: 100%;
        margin-left:0px;
    }

    .contentt_box3 {
        background-image: none;
        height: 100%;

    }

    .cont_inner_box {
        margin: 40px auto;
        width: 100%;
        max-width: 327px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        left: 0px;
        top: 0px;
    }


    .cont_inner_box2 {
        margin: 40px auto;
        width: 100%;
        max-width: 327px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    .mini_bold {
        color: var(--Navy, #1C1F26);
        text-align: center;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0px;
    }

    .mini_prs {
        color: var(--Grayscale-700, #656565);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%;
        /* 26.72px */
    }

    .thricebix {
        background: url(../images/last_sec_mob.png);
        display: block;
        width: 100%;
        padding-right: 0px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
        height: 893px;
        position: relative;
        margin-bottom:0px;
    }

    .thrice_inner_box h4{
        color: var(--Grayscale-White, #FFF);
text-align: center;
font-family: "DM Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 133.807%; /* 42.818px */
text-transform: capitalize;
margin-bottom: 0px;
    }

    .thrice_inner_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        max-width: 327px;
        padding-top: 509px;
        margin: auto;
        position: relative;
        left: 0%;
    }
    .thrice_inner_box p {
        color: var(--Grayscale-300, #E7E7E7);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%;
        text-align: center;
        margin-bottom: 24px;
    }
   .seo_s1btnbar{
        display: flex;
    align-items: center;
    justify-content: center;
    }


}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1348px) {
    
    .main_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding-top: 64px;
}

.cont_inner_box {
        width: 100%;
        max-width: 404px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 126px;
        left: 41px;
    }
    
    .cont_inner_box2 {
        width: 100%;
        max-width: 404px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 110px;
        right: 42px;
    }
    
    .contentt_box {
    background-image: url(../images/fr_1.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
    margin-top: 64px;
}

    .contentt_box2 {
    background-image: url(../images/fr_2.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
    margin: 8px 0px;
     margin-left: 0px; 
}

    .contentt_box3 {
    background-image: url(../images/fr_3.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
}

    .thrice_inner_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        max-width: 350px;
        position: absolute;
        left: 45%;
    }

    .thrice_inner_box h4 {
        color: var(--Grayscale-White, #FFF);
        font-family: "DM Sans";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 131.807%;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .thrice_inner_box p {
        color: var(--Grayscale-300, #E7E7E7);
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 167%;
        margin-bottom: 0px;
    }

    .last_box {
        margin: 64px 0px;
    }

    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 




}

@media only screen and (min-device-width: 1349px) and (max-device-width: 1439px) {
    .cont_inner_box {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        left: 130px;
    }

    .cont_inner_box2 {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        right: 130px;
    }
    
        .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1499px) {
    .cont_inner_box {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        left: 130px;
    }

    .cont_inner_box2 {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        right: 130px;
    }
    
        .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 
    
    
  .main_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-top: 64px;
  }

   .cont_inner_box {
        width: 100%;
        max-width: 404px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 126px;
        left: 75px;
    }
    
    .cont_inner_box2 {
        width: 100%;
        max-width: 404px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 110px;
        right: 80px;
    }
    
    .contentt_box {
    background-image: url(../images/fr_1.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
    margin-top: 64px;
    }

    .contentt_box2 {
    background-image: url(../images/fr_2.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
    margin: 8px 0px;
     margin-left: 0px; 
}

    .contentt_box3 {
    background-image: url(../images/fr_3.png);
    background-position: center;
    background-size: cover;
    height: 576px;
    position: relative;
    align-self: stretch;
    background-repeat: no-repeat;
}
 
    
    
    
}

@media only screen and (min-device-width: 1500px) and (max-device-width: 1699px) {
    .cont_inner_box {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        left: 150px;
    }

    .cont_inner_box2 {
        width: 100%;
        max-width: 455px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 148px;
        right: 150px;
    }

    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 




}


@media only screen and (min-device-width: 1700px) and (max-device-width: 1799px) {
        .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 
}


@media only screen and (min-device-width: 1800px) and (max-device-width: 1919px) {
        .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    } 
}

@media only screen and (min-device-width: 1921px) and (max-device-width: 2040px) {
    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    }
}

@media only screen and (min-device-width: 2040px) and (max-device-width: 2240px) {
    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    }
}

@media only screen and (min-device-width: 2240px) and (max-device-width: 2560px) {
    .contact_us {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
    }
}