@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Rebel Kids';
  src: url();
}

section{
    position: relative;
    padding: 4rem 0;
}
html, body{
    overflow-x: hidden;
}
.bg-image {
  object-fit: cover;
}
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-image:not([class*=absolute]) {
  position: absolute;
}
section {
  position: relative;
  overflow: hidden;
}
header{
    background: #1C1F26;
}
.color-header{
    background: #1C1F26;
}
.nav-link{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: capitalize;
    color:#fff
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FB1616;
}
.nav-link:focus, .nav-link:hover {
    color: #FB1616;
}
.navbar-nav {
 align-items: center;
 gap: 20PX;
}
.navbar{
    padding: 16px 0px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0px;
    vertical-align: 7px;
    content: "";
    border: 0px;
    background: url(../images/Icon-Frame.svg) no-repeat;
    background-size: cover;
    width: 25px;
    height: 20px;
    margin-bottom: -9px;
}
.dropdown-toggle.show::after{
    transform: rotate(180deg);
    margin-bottom: -15px;
}
.dropdown-item:hover{
    color: #fff;
    background: #c300008a;
}
.btn-red{
    width: 157px;
    height: 49px;
    padding-top: 14px;
    padding-right: 26px;
    padding-bottom: 14px;
    padding-left: 26px;
    gap: 10px;
    border-radius: 100px;
    border-width: 1px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    background: #FB1616;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.1904) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(13, 32, 62, 0.50), 0px 0px 0px 2px #671313;
}
.btn-red:hover{
    border: 1px solid #FB1616;
    color: #FB1616;
    background: #fff;
    border-radius: 91px;
    /* border: 1px solid rgba(253, 253, 253, 0.05);
    background: rgba(29, 31, 32, 0.20);
    backdrop-filter: blur(30.350000381469727px); */
}
.dropdown-menu-servies{
    background: var(--off-white, #F3F3F3);
    width: 177px;
    border-radius: 0px;
    height: fit-content;
    padding: 0px;
    border: 0px;
}
.dropdown-menu-cuurency{
    height:fit-content;
    background: var(--off-white, #F3F3F3);
    width: 88px;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
}
.dropdown-menu  li a{
    color: var(--Grayscale-700, #656565);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
}
.select-item{
    background: #c300008a;
    color: #fff !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 53px;
    left: -20px;
}
.cart-body{
    position: absolute;
    background: var(--off-white, #F3F3F3);
    box-shadow: 0px 29px 40px 0px rgba(0, 0, 0, 0.18), 0px 11.17px 12.741px 0px rgba(0, 0, 0, 0.11), 0px 2.363px 3.259px 0px rgba(0, 0, 0, 0.07);
    padding: 24px 24px;
    height: 483px;
    overflow-y:scroll ;
    width: 453px;
    left: -148px;
    top: 57px;
    display: none;
}
.cart-body.show{
    display: none;
}
.cart-item-details{
    padding: 24px 24px;
    border-bottom: 1px solid #c300005e;   
}
.cart-item-ine{
    display: flex;
    gap: 20px;
}
.cart-item-details p{
    color: var(--Grayscale-700, #656565);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
    margin-bottom: 0px;
}
.cart-item-ine h5 p{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.cart-item-ine h5{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    display: flex;
}
.cart-subtotal{
    display: flex;
    padding: 24px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    align-self: center;
}
.cart-subtotal h5{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.cart-subtotal h4{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.btn-black-border{
    border-radius: 100px;
    border: 2px solid var(--Navy, #1C1F26);
    color: var(--Navy, #1C1F26);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    max-width: 100%;
}
.cart-btn .btn-black-border{
    border-radius: 100px;
    border: 2px solid var(--Navy, #1C1F26);
    color: var(--Navy, #1C1F26);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    max-width: 100%;
}
.cart-btn{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.nav-item{
    position: relative;
}
/* ---------------------------home------------------------ */
.home-banner-home {
    height: 901px;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-banner-content h1{
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.home-banner-content p{
    color: var(--Grayscale-300, #E7E7E7);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
}
.home-banner-content h6{
    color: var(--Grayscale-White, #FFF);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.home-banner-content{
    width: 756px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.home-banner-content .btn{
    width: 266px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0px solid #d9d9d9ad;
    border-radius: 68px;
    background: transparent;
    box-shadow: none;
}
.btn-cricle{
    width: 52px;
    height: 52px;
    border-radius: 500px;
    border: 0px solid #d9d9d9ad;
    padding: 15px 6px;
    background: transparent;
    box-shadow: none;
}
.btn-div-home{
    display: flex;
    width: 321px;
    margin: auto;
    background: url(../images/Button-div-bg.png) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 52px;
}
.btn-div-home:hover{
    background: url(../images/Button-div-bg-hover.png) no-repeat;
    background-size: cover;
    background-position: top center;
}

.home-banner-content .btn:hover {
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    text-shadow: 0px 0px 0.5px #FFF;
}
.home-banner-content .btn-cricle:hover {
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    text-shadow: 0px 0px 0.5px #FFF;
    background: transparent;
}
.home-banner-content:hover svg{
    transform: rotate(90deg) translate(3px, 1px);
}
.home-content-s2 .btn{
    width: 224px;
}
.home-content-s2 h2{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.807%;
    text-transform: capitalize;
    margin-bottom: 35px; 
}
.home-content-s2 p{
    color: var(--Grayscale-700, #656565);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;   
    margin-bottom: 35px;
} 
.desgined-left-img{
    position: relative;
}
.desgined-left-img video{
    position: absolute;
    width: 100px;
    right: 49px;
    bottom: 28px;
}
.col-title h2{
    color: var(--Navy, #1C1F26);
    text-align: center;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.807%;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.explore-our-solutions{
    padding: 64px 0px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.col-title p{
    color: var(--Grayscale-700, #656565);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 64px;
}
.explore-our-solutions .card{
    border: 0px;
    background: transparent;
    text-align: center;
    margin-bottom: 24px;
}
.card .col-details{
    padding: 47px 60px;
    border-top: 0px solid #DEE5ED;
    border-right: 2px solid #DEE5ED;
    border-left: 2px solid #DEE5ED;
    border-bottom: 2px solid #FB1616;
    background: var(--Grayscale-200, #F8F8F8);
    box-shadow: 0px 7px 15px 0px rgba(106, 114, 128, 0.05), 0px 25px 80px 0px rgba(106, 114, 128, 0.05), 0px 12px 20px 0px rgba(106, 114, 128, 0.05);
}
.col-details h3{
    color: var(--Navy, #1C1F26);
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.col-details p{
    color: var(--Grayscale-700, #656565);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 24px;
}

.home-section2{
    background: #F8F8F8;
}
.explore-our-solutions::before{
    content: "";
    background: #F8F8F8;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 393px;
    z-index: -1;
    
}
.setpecontent-section{
    padding:0px 0px;
    background: #F3F3F3;
}
.nav-pills .nav-link{
    border: 1px solid #DEE5ED;
    background: var(--Grayscale-200, #F8F8F8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
    padding: 8px 24px;
    width: 260px;
    max-width: 100%;
    border-radius: 0px;
}
.nav-pills .nav-link p{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border: 1px solid #DEE5ED;
    opacity: 0.5;
    background: var(--Grayscale-200, #F8F8F8);
}
.right-content-box h3{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.807%;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.right-content-box p{ 
    color: var(--Grayscale-700, #656565);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 29px;
}
.right-content-box .btn{
    width: 227px;
    max-width: 100%;
    float: left;
}
.right-content-box{
    text-align: left;
    align-items: center;
}
.stepsthree-cool h2{
    color: var(--Navy, #1C1F26);
    text-align: center;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.807%;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.stepsthree-cool {
    margin-top: 64px;
    margin-bottom: 48px;
}
.stepsthree-cool p{
    color: var(--Grayscale-700, #656565);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
}
.setpecontent-section .tab-content{
    width: 617px;
    max-width: 100%;
}
.last-cl-bg {
    background: url(../images/Ready-to-letushelp.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 293px;
    width: 1602px;
}
.last-cl-bg {
    background: url(../images/Ready-to-letushelp.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 293px;
    width: 1602px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.last-content-left h2{
    color: var(--Grayscale-White, #FFF);
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.807%;
    text-transform: capitalize;
}
.last-content-left p{
    color: var(--Grayscale-300, #E7E7E7);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
}
.last-content-left{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    float: right;
    align-items: center;
    gap: 81px;
    margin-right: 53px;
}
.last-section-home{
    padding: 64px 0px;
    background: #F3F3F3;
}
.col-bg-stp{
    border: 1px solid #DEE5ED;
    background: var(--Grayscale-White, #FFF);
    box-shadow: 0px 7px 15px 0px rgba(106, 114, 128, 0.05), 0px 25px 80px 0px rgba(106, 114, 128, 0.05), 0px 12px 20px 0px rgba(106, 114, 128, 0.05);
    padding: 0px 0px 64px;
    position: relative;
    z-index: 2;
}
.col-bg-stp::after {
    content: "";
    background: url(../images/Divbe.png) no-repeat;
    background-size: cover;
    width: 1406px;
    position: absolute;
    height: 650px;
    z-index: -1;
    right: 0px;
    bottom: 0px;
}
.col-bg-stp::before {
    content: "";
    background: url(../images/Divafter.png) no-repeat;
    background-size: cover;
    width: 1406px;
    position: absolute;
    height: 650px;
    z-index: -1;
    left: 0px;
    top: 0px;
}
.error-section{
    height: 791px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-content h1{
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.error-content h5{
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.error-content p{
    color: var(--Grayscale-500, #D0D0D0);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
    margin: 24px 0px;
}
.error-content .btn-red {
    width: 172px;
    height: 49px;
    box-shadow: 0px 1px 2px 0px rgba(13, 32, 62, 0.50), 0px 0px 0px 2px #671313;
}
.error-content{
    width: 400px;
    text-align: center;
    margin: auto;
    max-width: 100%;
}
.legalsection{
    width: 100%;
    max-width: 100%;
    height: 440px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.legalcontent h2{
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.legalcontent p{
    color: var(--Grayscale-500, #D0D0D0);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
}
.main-content-policy h3{
    color: var(--Navy, #1C1F26);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.main-content-policy p{
    color: var(--Grayscale-700, #656565);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%; /* 26.72px */
    margin-bottom: 24px;
}
.btn-black{
    border-radius: 100px;
    background: var(--Navy, #1C1F26);
    box-shadow: 0px 1px 2px 0px rgba(119, 119, 119, 0.50), 0px 0px 0px 2px #181719;
    display: flex;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    width: 176px;
    color: var(--off-white, #F3F3F3);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: auto;
    border-radius: 91px;
    border: 1px solid rgba(253, 253, 253, 0.05);
    /* background: rgba(171, 171, 171, 0.10); */
    border-radius: 100px;
    background: var(--Navy, #1C1F26);
    box-shadow: 0px 1px 2px 0px rgba(119, 119, 119, 0.50), 0px 0px 0px 2px #181719;
}
.btn-black:hover{
    color: #1C1F26;
    border: 1px solid #1C1F26;
    background: #F3F3F3;
}
.main-content-policy .btn-black{
    display: flex;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    width: 176px;
    color: var(--off-white, #F3F3F3);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: auto;
    border-radius: 91px;
    border: 1px solid rgba(253, 253, 253, 0.05);
    /* background: rgba(171, 171, 171, 0.10); */
    border-radius: 100px;
    background: var(--Navy, #1C1F26);
    box-shadow: 0px 1px 2px 0px rgba(119, 119, 119, 0.50), 0px 0px 0px 2px #181719;
    margin-top: 39px;
}
.btn-black:hover{
    color: #1C1F26;
    border: 1px solid #1C1F26;
    background: #F3F3F3;
}
.legal-content-main{
    background: url(../images/legalbg.png) #e7e7e773;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content-policy{
    width: 1290px;
    margin: auto;
    max-width: 100%;
    
}
.legal-content-main{
    padding: 64px 0px;
}
footer{
    background: #1C1F26;
    padding: 64px 0px;
    position: relative;
}
.text-body-secondary{
    margin-bottom: 64px;
}
.list-unstyled{
    display: flex;
    gap: 21px;
    justify-content: flex-start;
    align-items: center;
}
footer .masrterimg{
    margin: 24px 0px;
}
.bd-footer h5{
    color: var(--Grayscale-White, #FFF);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 9px;
}
.list-unstyled h5{
    color: var(--Grayscale-White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 0px;    
}
.list-unstyled-p{
    padding: 0px;
}
.list-unstyled-p p{
    color: var(--Grayscale-500, #D0D0D0);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 0px;
}
.col-red-div{
    color: var(--Bright-Red, #FB1616);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 0px;
}
.footerullid ul{
    display: flex;
    gap: 36px;
    list-style: none;
    padding: 0px;
    width: 300px;
    float: right;
    
}
.list-unstyled-main {
    list-style: none;
    padding: 0px;
    column-count: 2;
}
.list-unstyled-main a{
    color: var(--Grayscale-500, #D0D0D0);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-bottom: 9px;
    text-decoration: none;
}
.list-unstyled-main li{
    margin-bottom: 8px;
}
.footerullid li a{
    color: var(--Grayscale-500, #D0D0D0);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    text-decoration: none;
}